---
import Layout from '../layouts/Layout.astro';
---

<Layout title="PB Notes">
   <h1 class="mb-10 text-5xl font-bold">Welcome to PB Notes</h1>
    
    <div class="mb-10 text-xl italic border-l-4 border-gray-500 pl-4">
        Writing Christ, Teaching Purpose.
    </div>

    <p class="mb-10 text-lg text-white/90">
    A space dedicated to exploring spiritual depth, finding your calling, 
    and living a life rooted in faith. Designed for the modern professional 
    and the young seeker.
</p>

    <p>
        <a href="/blog" class="btn btn-lg sm:min-w-64 bg-black text-white px-6 py-3 rounded-lg inline-block">Explore My Notes</a>
    </p>
</Layout>
