------
import Layout from '../layouts/Layout.astro';
---

<Layout title="PB Notes">
    <h1 class="mb-10">Welcome to PB Notes</h1>
    
    <div class="mb-10 text-xl italic border-l-4 border-accent pl-4">
        Writing Christ, Teaching Purpose.
    </div>

    <p class="mb-10 text-lg">
        A space dedicated to exploring spiritual depth, finding your calling, 
        and living a life rooted in faith. Designed for the modern professional 
        and the young seeker.
    </p>

    <p>
        <a href="/blog" class="btn btn-lg sm:min-w-64">Explore My Notes</a>
    </p>
</Layout>
